.tweet-text {
    color: $grey;
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .01em;
}

.time {
    color: $faded-grey;
    font-size: 12px;
    line-height: 30px;
}

